
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@import 'pages/auth-page';
@import 'pages/dashboard';

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #F7F8FA;
  font-family: 'Open Sans', sans-serif;
}
.footer {
    text-align: center;
}